/** web1 css**/

*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 100%;
	height: 100%;
	background: linear-gradient(to right,#b4c1d1,#c5ced7);
	font-family: 'Roboto', sans-serif;
}

/** nav header **/
.logo{
    position: fixed;
    float: left;
    margin: 12px 36px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

nav{
	position: fixed;
	width: 100%;
	z-index: 99;
}

nav ul{
	list-style: none;
	background: rgba(0,0,0,0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

nav.black ul{
    background: #6d9ad5;
}

nav ul li{
	display: inline-block;
	padding: 14px;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 8px;
	font-weight: bold;
	font-size: 20px;
}

nav ul li a:hover{
	background: #fff;
	color: #6d9ad5;
	border-radius: 6px;
}

.menu-icon{
	width: 100%;
	background: #6d9ad5;
	text-align: right;
	box-sizing: border-box;
	padding: 15px 24px;
	cursor: pointer;
	color: #fff;
	display: none;
}

@media(max-width: 850px){
	.logo{
		position: fixed;
		top: 0;
		margin-top: 8px;
	}
    
	nav ul{
		max-height: 0px;
		background: #6d9ad5;
	}

	nav.black ul{
		background: #6d9ad5;
	}

	.showing{
		max-height: 28em;
	}

	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}

	.menu-icon{
		display: block;
	}
}


/** coverpage **/

.cover-img{
	width: 100%;
	height: 100vh;
	background: url(cover-img.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.cover-content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.cover-content h1{
    font-size: 50px;
    color: #fff;
    letter-spacing: 4px;
}

.cover-content p{
   font-size: 16px;
   color: #fff;
   padding: 8px;
   letter-spacing: 1px;
}

.cover-content button{
	background: #fff;
	color: #6d9ad5;
	border: 1px solid #fff;
	margin-top: 40px; 
	font-size: 30px;
	padding: 10px;
	border-radius: 6px;
}

.cover-content button:hover{
	background: #6d9ad5;
	color: #fff;
}


/** about **/

.about-section{
	width:100%;
	height: 100%;
}

.about-section h2{
	margin-top: 40px;
    font-size: 30px;
    color: #4169E1;
    text-align: center;
    letter-spacing: 3px;
}

.about-section .para{
	width: 70%;
	margin: 15px auto;
	text-align: center;
	color: #fff;
	margin-bottom: 40px;
}

.features{
	display: flex;
	height: auto;
	color: #fff;
	padding: 25px 0;
}

.new1{
	text-align: right;
}

.new2{
	text-align: left;
}

.feature{
	display: flex;
	padding: 4px;
	margin: 10px;
}

.icon{
	display: grid;
	font-size: 50px;
	padding: 10px;
	color: #4169E1;
	border: 1px solid #fff;
	border-radius: 13px;
}

.feature:hover .icon{
	background: #6d9ad5;
	color: white;
}

.feature_content{
	margin-left: 5px;
	padding: 0 8px;
}

.feature_content p{
	margin-top: 10px;
	color: #fff;
}

@media(max-width: 768px){
   .features{
   	display: grid;
   }
   .feature{
   	width: 90%;
   	display: flex;
   	margin: 10px auto;
   	height: auto;
   }
   .feature:hover .icon{
   	background: none;
   	color: #6d9ad5;
   }
   .icon{
   	margin-top: 10px;
   	font-size: 40px;
   	border-radius: 0px;
   	color: #6d9ad5;
   	text-align: center;
   	border: none;
   }
   .feature_content{
   	box-sizing: border-box; 
   }
  
}

/** gallary **/

.gallary-section{
	width: 100%;
	height: 100%;
}

.gallary-section h2{
	font-size: 35px;
	color: #4169E1;
	text-align: center;
	font-weight: bold;
	margin-top: 25px;
	letter-spacing: 3px;
}

.gallary-section .para{
	margin-top: 12px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
}

.container{
	width: 1100px;
	margin: 30px auto 0;
	display: table;
	box-sizing: border-box;
	border: 1px solid #fff;
}

.column{
	background: #6d9ad5;
    display: table-cell;
    color: #fff;
    padding: 10px;
    width: 33.3%;
    height: auto;
    text-align: justify;
    vertical-align: middle;
}

.column img{
    width: 100%;
    height: auto;
    border: 1px solid #fff;
}

@media(max-width: 1150px){
	.container{
		margin: 5px 0 0 0;
		padding: 8px 0;
		width: 100%;
		border: none;
	}
	.column{
		width: 100%;
		display: block;
		box-sizing: border-box;
	}
}

/** contact **/

.contact-section{
	width: 100%;
	height: 100%;
	background: url(hgbg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	margin-top: 65px;
}

.contact-section1{
	width: 50%;
    padding: 35px;
    text-align: left;
    color: #fff;
}

.contact-section1 p{
	margin-top: 10px;
	letter-spacing: 1px;
}

.contact-section1 h2{
	padding: 15px 0px;
}

.contact-section2{
	width: 50%;
	padding: 35px;
	text-align: right;
	position: relative;
}

.contact-section2 input{
    margin: 10px;
    width: 60%;
    height: 28px;
	text-align: center;
	background: rgba(0,0,0,0.5);
	color: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #fff;
}

.contact-section2 #msg{
	height: 130px;
}

.contact-section2 button{
	margin: 10px;
	padding: 12px;
	background: #6d9ad5;
	color: #fff;
	border-radius: 6px;
	border: 1px solid #fff;
}

.contact-section2 .social-icon{
	margin: 30px 10px;
	color: #fff;
	font-size: 40px;
}

.contact-section2 .footer{
	margin: 10px;
	color: #fff;
}

@media(max-width: 900px){
	.contact-section{
		display: block;

	}

	.contact-section1{
		width: 100%;
        padding: 0;
        text-align: center;
	}

	.contact-section1 h4{
    	padding: 10px;
    }
    
    .contact-section1 p{
    	margin: 6px;
    	padding: 15px;
    }

    .contact-section1 .ul li{
    	margin: 6px;
    	padding: 15px;
    }

	.contact-section2{
		width: 100%;
	    padding: 0;
	    text-align: center;
	    margin-top: 35px;
	}

	.contact-section2 .social-icon{
	    font-size: 30px;
    }

}

